{% load static %}

<!DOCTYPE html>
<html lang="en">


    <head>
        <title>Listerr E Commerce Website</title>
        <link rel="stylesheet" href="{% static 'auctions/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'auctions/watchlist/watchlist.css' %}">
        <script type="text/javascript" src="{% static 'auctions/watchlist/watchlist.js' %}"></script>
    </head>



    <body>
        <div class="headerdiv jumbotron-fluid text-center">
            <div class="container">
            <h1 class="display-4"><b><strong>LISTERR-COMMERCE</strong></b></h1>
            <hr>
            <p class="leadheaderdiv">
                {% if user.is_authenticated %}
                  <b>Hi There! Hope you have a Great Day! </b>
                  Signed in as <strong>{{ user.username }}</strong>
                {% else %}
                  <b>Hi There! Hope you have a Great Day!</b>
                  Not signed in.
                {% endif %}
            </p>
            </div>
        </div>  

        <div style="display:flex;">
          <div style="width:13%; border-top-right-radius:25px; border-bottom-right-radius:25px; border-right: 2px solid #d9dbda; background-color: rgb(38, 38, 65);">
            <nav class="nav flex-column">
                <div class="text-center" style="margin-top:15px;">
                    <button class="btn btn-outline-warning" type="button" disabled style="width:100%; border-style: hidden hidden solid hidden;">EXPLORE</button>
                    <div>
                        <hr>
                        <a class="btn btn-outline-light" href="{% url 'index' %}" style="width:100%; border-style: hidden;">Active Listings</a>
                        <a class="btn btn-outline-light" href="{% url 'categories' %}" style="width:100%; border-style: hidden;">Categories</a>
                    </div>
                </div>
                <div style="margin-top:15px;">
                    {% if not user.is_authenticated %}
                    <button class="btn btn-outline-dark" type="button" data-target="#dm_a" data-toggle="collapse" aria-expanded="false" aria-controls="dm_a" style="width:100%; border-style: hidden hidden solid hidden;">ACTION</button>
                    <div class="collapse" id="dm_a">
                        <hr>
                        <a class="btn btn-outline-light" href="{% url 'login' %}" style="width:100%; border-style: hidden;">Log In</a>
                        <a class="btn btn-outline-light" href="{% url 'register' %}" style="width:100%; border-style: hidden;">Register</a>
                    </div>
                    {% endif %}
                </div>
                <div style="margin-top:15px;">
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-warning" type="button" disabled style="width:100%; border-style: hidden hidden solid hidden;">PROFILE</button>
                    <div>
                        <hr>
                        <a class="btn btn-outline-light" href="{% url 'watchlist' %}" style="width:100%; border-style: hidden;">Watchlist</a>
                        <a class="btn btn-outline-light" href="{% url 'create_listing' %}" style="width:100%; border-style: hidden;">Create Listing</a>
                        <a class="btn btn-outline-light" href="{% url 'logout'  %}" style="width:100%; border-style: hidden;">Log Out</a>
                    </div>
                    {% endif %}
                </div>
              </nav>
        </div>

        <div class="text-center" style="width: 90%;">
          <div class="jumbotron" style=" height:145px;">
              <h1 class="display-6"><b>WATCHLIST</b></h1>
              <p class="lead" style="background-color:ebony"><b></b></p>
          </div>
          <div>
              {% for w in watching %}
              <hr>
              <form action="/LISTING" >
                  <input type="hidden" name="l_id" value="{{w.item_id}}">
                  <button type="submit" class="btn">{{w.item_name}}</button>
              </form>
              {% endfor %}
          </div>
  
          <div style="margin:25px;">
              <button class="btn btn-outline-danger" type="button" data-target="#detailed_view" data-toggle="collapse" aria-expanded="false" aria-controls="detailed_view">DETAILED VIEW</button>
          </div>
              <div class="collapse" id="detailed_view">
              <div class="card-columns text-center">
                  {% for itemw in watching %}
                  {% for item in items %}    
                  {% if item.id|stringformat:"s" == itemw.item_id|stringformat:"s" %}
                  <div class="card p-3">
                      {% if item.picture is None %}
                      <img src="https://cdn0.iconfinder.com/data/icons/technology-business-and-people/1000/file_light-15-512.png" style="height:50%; width:50%" class="card-img-top">
                      {% else %}
                      <img src={{item.picture}} class="card-img-top" style="height:50%; width:50%">
                      {% endif %}
                      <div class="card-body">
                        <h3 class="card-title">{{item.title}}</h3>
                        <p class="card-text"><i>{{item.description}}</i></p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">CATEGORY: {%if item.status in "A"%}<p style="color:darkcyan"><b>(ACTIVE)</b></p>{% else %}<p style="color:brown"><b>(CLOSED)</b></p>{% endif %} {{item.category}}</li>
                        <li class="list-group-item">Item Listed By: {{item.username}}</li>
                        <li class="list-group-item">Item Listing Date: {{item.listing_open_date}}</li>
                      </ul>
                      <div class="card-body">
                          <h6 class="card-title">$ {{item.c_price}}</h6>
                          <div class="card-body">
                          <form action="/LISTING" >
                              <input type="hidden" name="l_id" value="{{item.id}}">
                              <button type="submit" class="btn btn-outline-info">View Listing</button>
                          </form></div>
                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}{% endfor %}
                  </div>            
              </div>
          </div>
        </div>
        </div>
          
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>