.leadheaderlogin {
    color:rgb(228, 246, 255);
    font-size: 1.25rem;
    font-weight: 300;
}

.headerlogin {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    height:225px; 
    border-color:rgb(6, 128, 57);
    border-style:hidden inset hidden inset; 
    border-width: 75px; 
    border-radius: 5px;
    background-color: rgb(6, 110, 84); color: #ffffff; 
    text-decoration:solid;
}

.jumbologin {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    height:200px
}